@font-face {
    font-family: LeagueSpartan;
    src: url(assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}

html{
    box-sizing: border-box;
}

*::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: LeagueSpartan;
    line-height: 1.3;
    background-image: url(assets/images/texture2.jpeg);
}

/* .entire-calendar{
    border: 2px solid gold;
} */

.first-four-month{
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.first-row-months{
    display: flex;
}

.jan-month{
    padding-right: 13.4rem;
    padding: 0.7rem 0 0 0;
    /* border: 2px solid goldenrod; */
}

.feb-month{
    padding-right: 12.9rem;
    padding: 0.7rem 0 0 0;
}
.march-month{
    /* border: 2px solid green; */
    padding-right: 14rem;
    padding: 0.7rem 0 0 0;
}

.april-month{
    /* border: 2px solid green; */
    padding: 0.7rem 0 0 0;
}


.jan{
    display: flex;
    gap: 1rem;
    border: 2px solid beige;
    background: white;
    padding: 0.1rem;
    border-radius: 10px;
}

.jan-asset{
    width: 19.7%;
    /* border: 2px solid purple; */
    padding-left: 10.8rem;
}

.jan-asset img{
    width: 80%;
    align-items: center;
    /* margin-right: -40rem; */
}


.feb-asset{
    width: 19.8%;
    /* border: 2px solid purple; */
}

.feb-asset img{
    width: 80%;
    align-items: center;
}


.march-asset{
    width: 20.8%;
    /* border: 2px solid purple; */
}

.march-asset img{
    width: 75%;
    align-items: center;
}

.april-asset{
    width: 19.3%;
    /* border: 2px solid purple; */
}

.april-asset img{
    width: 80%;
    align-items: center;
}

.second-entire-calendar{
    /* border: 2px solid skyblue; */
    margin-top: 4rem;
}

.jan-bday{
    border: 1px dotted white;
    border-radius: 1px;
    background-color: #F3B797;
}


.feb-bday{
    border: 1px dotted white;
    border-radius: 1px;
    background-color: #6F6F33;
}

.mar-bday{
    border: 1px dotted white;
    border-radius: 1px;
    background-color: #911D3A;
}


.apr-bday{
    border: 1px dotted white;
    border-radius: 1px;
    background-color: #EFA826;
}


.may-bday{
    border: 1px dotted white;
    border-radius: 1px;
    background-color: #F3A36E;
}


.jun-bday{
    border: 1px dotted white;
    border-radius: 1px;
    background-color: #FB6F10;
}


.jul-bday{
    border: 1px dotted white;
    border-radius: 1px;
    background-color: #B45A35;
}


.aug-bday{
    border: 1px dotted white;
    border-radius: 1px;
    background-color: #D12E20;
}


.sept-bday{
    border: 1px dotted white;
    border-radius: 1px;
    background-color: #0AB2A0;
}


.oct-bday{
    border: 1px dotted white;
    border-radius: 1px;
    background-color: #F0BE4D;
}


.nov-bday{
    border: 1px dotted white;
    border-radius: 1px;
    background-color: #C78F3E;
}


.dec-bday{
    border: 1px dotted white;
    border-radius: 1px;
    background-color: #97E2FF;
}


